.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 2.2rem;
  justify-content: space-evenly;

  padding: 2rem 1rem;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 260px;
  border-radius: 0.6rem;

  background-color: #fff;

  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.product-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 4px 6px 10px #00691733;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 180px;
  height: 140px;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;

  background-color: #eaeaea;
}
