.markdown-content {
  padding: 2rem 0;
}

.markdown-content h2,
.markdown-content h4,
.markdown-content p,
.markdown-content a,
.markdown-content ol,
.markdown-content ul,
.markdown-content li {
  all: revert;
}

.markdown-content ol,
.markdown-content ul {
  padding-left: 20px;
}
